@import url("/assets/style/fills.css");
@import url("/assets/style/size.css");
@import url("/assets/style/theme.css");
@import url("/pages/pages.css");

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, main, article, section, aside, footer, nav,
h1, h2, h3, h4, h5, h6, p, a, span, button, input,
img, video {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    padding: 0;
}

html {
    background-color: var(--background);
    color: var(--text);
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    flex-basis: 100%;
    flex-grow: 1;
    overflow: hidden;
}
