@import url("/assets/style/fills.css");
@import url("/assets/style/size.css");
@import url("/assets/style/theme.css");
@import url("/layout/layout.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    background-color: var(--light-background);
    color: var(--light-text);
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    flex-basis: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    padding: var(--spacing-xl);
}

.surface {
    padding: var(--spacing-lg);
    border-width: 1px;
    border-color: var(--light-border);
    background-color: var(--light-surface);
}

.search {
    display: flex;
    gap: var(--spacing-lg);
}

.search__left, .search__right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    gap: var(--spacing-lg);
}

.search__image {
    width: 100%;
    flex-basis: auto;
    border: 1px solid var(--light-border);
    border-radius: 8px;
}
