.posts-tabs {
    display: flex;
    background-color: var(--light-inset-surface);
    border-bottom: 1px solid var(--light-border);
    /* border-bottom-style: solid; */
}

.posts-tabs__tab {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-lg);
}

.posts-tabs__icon {
    height: var(--icon-xl);
    width: auto;
    color: var(--light-icon);
}

.posts-tabs__tab--selected {
    background-color: var(--light-surface);

    .posts-tabs__icon {
        color: var(--fill-accent-brand);
    }
}
