.footer {
    display: flex;
    justify-content: space-around;
    border-top-style: solid;
    background-color: var(--light-surface);
    padding: var(--spacing-lg);
    padding-bottom: 34px;
    border: 1px solid var(--light-border);
}

.footer__icon {
    height: 32px;
    width: auto;
    color: var(--light-icon);
}

.footer__icon--selected {
    color: var(--fill-accent-brand);
}
