.footer {
    display: flex;
    justify-content: center;
    border-top-style: solid;
    background-color: var(--light-surface);
    padding-inline: var(--spacing-lg);
    padding-bottom: 34px;
    border-top: 1px solid var(--light-border);
}

.footer__btn {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 1;
    padding-top: var(--spacing-lg);
    color: var(--light-icon);
}
.footer__btn--selected { color: var(--fill-accent-brand); }

.footer__icon {
    height: 32px;
    width: auto;
}
