.search__page {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.search__gallery {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 1;
    min-height: 0;
    overflow-y: scroll;
    justify-content: center;
    align-items: start;
    padding: var(--spacing-xl);
}

.search-area {
    /* position: relative; */
    flex-shrink: 0;
    /* background-color: var(--surface); */
    border-bottom: 1px solid var(--border);
}

.suggestions {
    display: none;
    overflow-y: scroll;
    flex-basis: 100%;
    border-bottom: 1px solid var(--border);
}

.suggestions__item {
    padding-block: var(--spacing-md);
    color: var(--inset-text);

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--border);
    }
}
