@import url("./components/posts-tabs/posts-tabs.css");


.search__subpage {
    display: none;
    gap: var(--spacing-xl);
}

.search__subpage--selected {
    display: flex;
}

.search__column { flex-basis: 50%; }

.search__image {
    width: 100%;
    height: auto;
    border: 1px solid var(--light-border);
    border-radius: 8px;

    &:not(:last-of-type) {
        margin-bottom: var(--spacing-xl);
    }
}
