@import url("./search/search.css");
@import url("./settings/settings.css");
@import url("./in-development/in-development.css");

.page {
    display: flex;
    gap: var(--spacing-xl);
    /* padding: var(--spacing-xl); */
}

.subpage {
    display: none;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

.subpage--visible {
    display: flex;
}
