@import url("./search/search.css");
@import url("./settings/settings.css");
@import url("./in-development/in-development.css");

.page {
    display: flex;
    gap: var(--spacing-xl);
    padding: var(--spacing-xl);
}
